<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
</head>
<body>
<h1><%= title %></h1>


<form action="/login" method="post">
    Unesite nick: <input type="text" name="nick"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
